#wrapper {
	width: 70%;
	height: 50%;
	margin: 0 auto;
}

#profile {
	width: 10%;
	height: 100%;
	margin: 0 auto;
	float: right;
	text-align: left;
}

ul {
	list-style: none; /* Remove list bullets */
	padding: 0;
	margin: 0;
}

textarea {
	border: 2px solid;
	border-radius: 5px;
	height: 5%;
	width: 50%;
}

input, button {
	border: 2px solid;
	border-radius: 3px;
}
