<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<description>Admininstrator's email-id</description>
		<param-name>admin-email</param-name>
		<param-value>rajesh.helloworld@gmail.com</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.clippad.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>com.clippad.Signup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.clippad.Update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClipDetails</servlet-name>
		<servlet-class>com.clippad.ClipDetails</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>Logoff</servlet-name>
		<servlet-class>com.clippad.Logoff</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/Signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClipDetails</servlet-name>
		<url-pattern>/ClipDetails</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Logoff</servlet-name>
		<url-pattern>/Logoff</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
